/* body {
  background: linear-gradient(white 50%, teal 50%);
} */
aside {
  float: left;
  width: 41vw;
  padding: 2vw;
}
section {
  float: left;
  width: 43vw;
  padding: 2vw;
  margin: 2vw;
  overflow-y: scroll;
  height: 80vh;
}
h1 {
  font-weight: bolder;
  color: white;
  background: teal;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  width: 42vw;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  top: 0;
}
#profile {
  margin-left: calc((41vw - 200px) / 2);
  border: 2px solid teal;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#name {
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
}
button {
  padding: 5px;
  background: teal;
  color: white;
  margin: auto;
}
button > a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
#btns {
  margin-left: calc((41vw - 300px) / 2);
  display: inline;
}
.todo {
  background: rgba(0, 128, 128, 0.3);
  padding: 10px;
  width: 40vw;
  color: black;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: lowercase;
}
#contact {
  line-height: 30px;
}
#facebook,
#twitter,
#email {
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#facebook {
  color: blue;
}
#twitter {
  color: lightblue;
}
#email {
  color: red;
}
