/* body {
  background: linear-gradient(white 50%, darkorange 50%);
} */
aside {
  float: left;
  width: 41vw;
  padding: 2vw;
}
section {
  float: left;
  width: 43vw;
  padding: 2vw;
  margin: 2vw;
  overflow-y: auto;
  height: 85vh;
}
h1 {
  font-weight: bolder;
  color: white;
  background: darkorange;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  width: 42vw;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  top: 0;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: -6px;
}
#profile {
  margin-left: calc((41vw - 200px) / 2);
  border: 2px solid darkorange;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#name {
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
}
button {
  padding: 5px;
  background: darkorange;
  color: white;
  margin: auto;
  border: 1px solid darkorange;
}
button > a {
  text-decoration: none;
  font-weight: 900;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
#btns {
  margin-left: calc((41vw - 300px) / 2);
  display: inline;
}
.todo {
  background: rgba(225, 140, 0, 0.3);
  padding: 10px;
  width: 40vw;
  color: black;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: lowercase;
}
.todo:first-of-type {
  margin-top: 0;
}
#contact {
  line-height: 30px;
}
#facebook,
#twitter,
#email {
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#facebook {
  color: blue;
}
#twitter {
  color: lightblue;
}
#email {
  color: red;
}
section::-webkit-scrollbar {
  background: white;
  border: 1px solid darkorange;
}
section::-webkit-scrollbar-button {
  background: darkorange;
  color: white;
}

section::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 50px;
}

/* media queries go here */

@media screen and (max-width: 650px) {
  aside,
  section {
    float: unset;
  }
  aside {
    width: 90vw;
  }
  section {
    width: 90vw;
  }
  h1,
  .todo {
    width: 85vw;
  }
  h1 {
    position: unset;
  }
  #profile {
    margin-left: calc((90vw - 200px) / 2);
  }
  #btns {
    margin-left: calc((90vw - 300px) / 2);
  }
}
